.favorite-list-container{
    border: 1px solid #42e3d0;
    width: 1000px;
    height: 75vh;
    margin-top: 10px;
    color: white;
    margin-left: 275px;
}
.dis-none{
    display: none;
}
.favorite{
    color: white;
}
.favorite-item{
    display: flex;
    gap: 25px;
    margin: 0 20%;
    justify-content: space-between;
}
.favorite-list-container button{
    width: 75px;
    height: 35px;
    margin-top: 10px;
    background-color: #42e3d0;
    border: 1px solid #42e3d0;
    border-radius: 10px;
}